@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DK Brushzilla';
  src: url('./fonts/DKBrushzilla.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  background: #fff;
  color: #1a1a1a;
}
